* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.games {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 40;
  margin: 40;  
}

.desctext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

h1,
h2 {
  margin: 8px;
  font-family: "Fredoka One", cursive;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(35, 28, 7);
  padding: 32px;
  color: white;
  margin: 0px;
}

.banner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

#games {
  background-color: rgb(184, 111, 82);
}
#kläder {
  background-color: rgb(247, 135, 100);
}
#job{
  background-color: rgb(184, 111, 82);
}

footer {
  background-color: rgb(35, 28, 7);
  padding: 16px;
  color: white;
  text-align: center;
}

footer p {
  padding: 20px;
  font-size: 10px;
}


nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

nav li {
  list-style: none;
  margin-right: 32px;
  display: inline-block;
  text-align: center;
}

.headnav {
  position: fixed;
  top: 0;
  right: -80vw;
  width: 80vw;
  height: 22vh;
  transition: 300ms ease-in-out;
  background-color:rgb(57, 42, 22);
}

.nav-area {
  font-size: 2rem;
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked + nav {
  right: 0;
}

.foot {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  margin: 10px;
  
}

